#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.bulb-on {
  background-image: url("/images/bulb_on.PNG");
  background-size: cover;
  background-position: center;
}

.bulb-off {
  background-image: url("/images/bulb_off.PNG");
  background-size: cover;
  background-position: center;
}
